p {
  font-size: 60px;
  text-align: center;
  font-family: Type-writer;
  transition: font-size 2s, color 2s;
}

p:hover {
  font-size: 70px;
  color: #8A2BE2;
}

img {
  display: flex;
  margin: auto;
}

span {
  text-align: center;
}
